{% extends 'base.html' %}
{% load bootstrap_icons %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'moodyblog/css/home.css' %}"/>
    {% comment %} <div class="container">
        <div class="post-button">
            <span> Post!? </span>
            <a href="#">
                {% bs_icon 'camera-video-fill' %} 
                Media
            </a>
            <a href="{% url 'add_post' %}">{% bs_icon 'fonts' %} Text</a>
            <a href="{% url 'add_post' %}">{% bs_icon 'chat-dots-fill' %} Chat</a>
            <a href="{% url 'add_post' %}">{% bs_icon 'chat-left-quote-fill' %} Quote</a>
        </div>
    </div> {% endcomment %}



{% for post in object_list %}
    <div class="shadow p-3 mb-5 bg-body rounded">
        <h2>{{ post.title }}</h2>
        <small class="text-muted">By: {{ post.author.username }} @ {{ post.post_date }}</small>  
        
        <br/><br/>
        {{ post.body|safe }}<br/><br/>

        <a href="{% url 'article-detail'  post.pk %}" class="btn btn-outline-secondary btn-sm">Read more</a>
        {% if user.id == post.author.id %}
            <a href="{% url 'update_post'  post.pk %}" class="btn btn-outline-warning btn-sm">Edit Post</a> 
            <a href="{% url 'delete_post'  post.pk %}" class="btn btn-outline-danger btn-sm">Delete Post</a>
        {% else %}
            {% if user.is_superuser %}
                <a href="{% url 'update_post'  post.pk %}" class="btn btn-outline-warning btn-sm">Edit Post</a> 
                <a href="{% url 'delete_post'  post.pk %}" class="btn btn-outline-danger btn-sm">Delete Post</a>
            {% endif %}
        {% endif %}

    </div>


{% endfor %}





{% endblock %}