{% extends 'base.html' %}
{% load bootstrap_icons %}
{% load static %}
{% block title %}User List{% endblock title %}
{% block content %}


{% comment %} <h1>User List</h1>
<div class="list-group">
    {% for user in object_list %}
        <li class="list-group-item list-group-item-action">
            <a href="{% url 'show_profile_page' user.profile.id %}">{{ user.username }}<a/>
        </li>
    {% empty %}
        <h2 class="list-group-item">No users yet.</h2>
    {% endfor %}
</div> {% endcomment %}
<h3>Registered Users: </h3>

<table class="table table-hover table-bordered table-striped">
    <thread>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">E-Mail</th>
            <th scope="col">#</th>
        </tr>
    </thread>
    <tbody>
    {% for user in object_list %}
        <tr>
            <td>{{ user.profile.id }}</td> <td><a href ="{% url 'show_profile_page' user.profile.id %}">{{ user.first_name }} {{ user.last_name }}</a></td><td>{{user.username}}</td> <td>{{ user.email }}</td><td><a href ="{% url 'show_profile_page' user.profile.id %}">Delete</a></td><br/>
        </tr>
    {% endfor %}
    </tbody>    
    
</table>
{% endblock %}