{% extends 'base.html' %}
{% load static %}
{% block content %}

<img src="{% static 'moodyblog/images/default_profile_pic.jpeg' %}" class="rounded mx-auto d-block" alt="profile pic">
<div class="row justify-content-between">
  <div class="col-4">
    <h1>{{ page_user.user.first_name }} {{ page_user.user.last_name }}</h1>
    <p class="text-muted">@ {{ page_user.user.username }}</p>
  </div>
  <div class="col-4">
    <a href="{% url 'edit_profile_page' page_user.id %}" class="btn btn-outline-secondary btn-md">Edit Profile</a>
  </div>
</div>




<br/>

{% comment %} <div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-2">
      {% if page_user.profile_pic %}
        <img src="{{ page_user.profile_pic.url }}" class="card-img">
      {% else %}
        <img src="{% static 'moodyblog/images/default_profile_pic.jpeg' %}" class="card-img" class="card-img" />
      {% endif %}
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h5 class="card-title">{{ page_user.user.first_name }} {{ page_user.user.last_name }}</h5>
          <p class="card-text text-muted">
              <a href="{% url 'show_profile_page' page_user.id %}">Profile Page</a> | 

              {% if page_user.website_url %}
                <a href="{{ page_user.website_url }}">Website</a> | 
              {% endif %}
              {% if page_user.facebook_url %}
                <a href="{{ page_user.facebook_url }}">Facebook</a> | 
              {% endif %}
              {% if page_user.twitter_url %}
                <a href="{{ page_user.twitter_url }}">Twitter</a> | 
              {% endif %}
              {% if page_user.instagram_url %}
                <a href="{{ page_user.instagram_url }}">Instagram</a>
              {% endif %}
          </p>
          <p class="card-text">{{ page_user.bio }}</p>
        </div>
      </div>
    </div>
  </div> {% endcomment %}


{% endblock %}